# Python Crash Course

## Comments
- A **comment** is a line of text ignored by Python.
- Use a hashtag/octothorpe (#) to create a comment.

In [2]:
# 3 + 324

In [3]:
# this is gourav working on python data analysis project

## Basic Data Types
- An **integer** is a whole number.
- A **floating-point** number is one with a fractional or decimal component.
- A **string** is a piece of text. It's a collection of characters.
- An **empty string** has a length of 0 characters.
- A **Boolean** is a type whose value can only be True or False.
- **None** is a special Python type that represents nothingness, blankness, or the absence of a value.
- The operations that can be performed on a value depend on its type. There are functionalities that we can do with strings but not numbers, and vice versa.

In [8]:
True
False

False

In [6]:
5 > 2.57

True

In [10]:
None

## Operators
- An **operator** is a symbol that performs an operation (mathematical, logical, etc).
- Python supports all traditional mathematical operation - `+` for addition, `-` for subtraction, `*` for multiplication, and `/` for division.
- The floor division operator (`//`) leaves off the floating point portion of a division result.
- The `+` operator performs concatenation when used with strings.
- The equality operator (`==`) returns True if two values are equal to each other.
- The inequality operator (`!=`) returns True if two values are unequal to each other.

In [2]:
5+8
3.59+6.95

10.54

In [4]:
#concatenation - combining two strings into one
'race' + 'bike'

'racebike'

In [5]:
87-6

81

In [6]:
10 * 5

50

In [7]:
'Hello ' * 3

'Hello Hello Hello '

In [10]:
#PEMDAS - Paranthesis , Exponent , Multiplication/division , Addition/Subtraction
3 + 8 * 5

43

In [11]:
( 3 + 8 ) * 5

55

In [12]:
488/2

244.0

In [19]:
# gives floating point result
14/8
14/2

7.0

In [21]:
#give integer type result
# Floor division operator 
11//2
14//2

7

In [27]:
# Modulo operator - % 
# returns remainder 
4%2
14%2
13%3
45%6

3

In [31]:
# Equality operator - check two sides are equal or not
# if equal returns TRUE , if not equal returns False
5 == 5
4 == 5

False

In [33]:
7 == 7.0

True

In [34]:
'Equal' == 'Equal'

True

In [36]:
'a' == 'b'

False

In [38]:
'CASE' =='case'  #checks case sensitivity

False

In [40]:
True == True
False == False

True

In [41]:
True == False

False

In [44]:
#Inequality operator - checks if 2 values are not equal
5 != 8

True

In [45]:
'Same' != 'a vsbs'

True

In [46]:
'same' != 'same'

False

In [47]:
5 != 5.0

False

In [48]:
4 <5

True

In [50]:
4<=5
4<=4

True

In [54]:
4>5
4>=5
4>=4
4>=3

True

## Variables
- A **variable** is a name for a value in your program. It is a placeholder for the value.
- The value that a variable represents can *vary* over a program.
- Multi-word variable names should follow a `snake_case` naming convention.
- Python evaluates the right-hand side of an equal sign first.
- The `len` function returns the length of its argument.

In [19]:
age = 34

In [3]:
age
age + 1

35

In [5]:
price  = 45
profession = 'Data analyst'

In [7]:
first_name = 'Julius'

In [12]:
first_name
price
profession
first_name + ' the ' + profession

'Julius the Data analyst'

In [20]:
age = age+ 2
age

36

## Built-in Functions
- A **function** is a repeatable procedure.
- A **function** can accept inputs (which are called **arguments**).
- A **function** produces a **return value**, which is the "output" of the function.
- The technical term for running/executing a function is "invoking" or "calling".
- Invoke a function with a pair of parentheses.
- The `len` function returns the length of its argument.
- The `str` function converts its argument to a string.
- The `int` function converts its argument to an integer.
- The `float` function converts its argument to a floating-point.
- The `type` function returns the type of its argument (the kind of value it is).

In [1]:
len('Gourav')

6

In [24]:
str(34.34)
str('34r54')

'34r54'

In [5]:
str('wegag')

'wegag'

In [7]:
str(3454)

'3454'

In [10]:
int('23423')

23423

In [12]:
float(43534)
float("454")

454.0

In [16]:
type('werw')

str

In [17]:
type(3242)

int

In [18]:
type(4.9)

float

In [19]:
type(False)

bool

In [20]:
type(True)

bool

## Custom Functions
- Define a function with the `def` keyword, a name, a parameter list, and a colon.
- Functions names should follow a `snake_case` naming convention.
- A **parameter** is a name for an expected input.
- Write the function's logic inside a nested block. The end of the block marks the end of the function logic.
- Variables declared inside a function body will only last as long as the function runs.
- Use the **return** keyword to specify the function's return value (output).
- When invoking a function, we can pass in argument sequentially or with explicit parameter names.
- A **default argument** is a fallback value that Python will provide if an argument is not passed for a parameter during invocation.

In [8]:
def celcius_to_fah(temp):
    calculate =(temp * 1.8) + 32
    return int(calculate)

In [9]:
temp = 30
celcius_to_fah(temp)

86

In [6]:
celcius_to_fah(1)

33.8

## String Methods
- An **object** is the technical term for a type. A string is an example of an object.
- A **method** is like a function that belongs to an object.
- To invoke a method, provide a period after the object, then the method name and a pair of parentheses.
- We use similar terminology and syntax for functions and methods. We can invoke methods. We can pass arguments to methods. Methods can return values.
- Objects can be **mutable** (capable of change) or **immutable** (incapable of change). A string is immutable.
- Common string methods include `upper`, `lower`, `swapcase`, `title`, `capitalize`, and `strip`.
- **Method chaining** refers to invoking methods on objects returned by previous method invocations. We create a link or "chain" of methods.
- The **in** and **not in** keywords check for the presence and absence of a substring within a string.

In [5]:
'convert to uppercase'.upper()

'CONVERT TO UPPERCASE'

In [6]:
role = 'analyst'

In [7]:
role.upper()

'ANALYST'

In [8]:
role.lower()

'analyst'

In [11]:
role = 'ANALYST'
role.lower()

'analyst'

In [13]:
role = 'AnalYSt'
role.swapcase()

'aNALysT'

In [15]:
'once upon a time'.title() #capitalize first letter of every word

'Once Upon A Time'

In [17]:
'once upon a time'.capitalize()  #capitalize only the 1st letter

'Once upon a time'

In [21]:
planet = '    earth     '
planet.lstrip()   #removes space from left side

'earth     '

In [22]:
planet.rstrip()  #removes spaces from right side

'    earth'

In [26]:
planet.strip()  #removes all the space  from both left and right side

'earth'

In [25]:
'  dfsa asfoiaj  wfio fn'.strip()

'dfsa asfoiaj  wfio fn'

In [30]:
'       Once Upon A Time     '.strip().lower()  # we can use multiple methods in sequence

'once upon a time'

In [33]:
"Once Upon A Time".replace( 'o' , '*')

'Once Up*n A Time'

In [34]:
'       Once Upon A Time     '.strip().lower().replace('o' , '*')

'*nce up*n a time'

In [39]:
"Once Upon A Time".startswith("O") #returns boolean value , if the given string starts wuth the argument that is provided , returns true else false

True

In [40]:
"Once Upon A Time".lower().startswith("o")  #it is case sensitive

True

In [42]:
"Once Upon A Time".endswith("me")  #similarly we can use endswith method

True

In [44]:
# in - checks for inclusion , whether it is present or not
variable = 'developer'
'lo' in variable

True

In [45]:
'Lo' in variable

False

In [46]:
'dev' in variable

True

In [47]:
'dev' in role

False

In [48]:
'L' in variable.upper()

True

In [50]:
'g' not in variable #check if it is not present

True

## Lists
- A **list** is a mutable data structure that holds an ordered collection of values.
- We often use the term **element** to describe an item in the list.
- The length of a list is its number of elements.
- The **append** method adds an element to the end of the list.
- The **pop** methods remove the last element from the list.
- The **in** and **not in** keywords check whether or not an element exists within a list.

In [3]:
[4,5.9]

[4, 5.9]

In [5]:
[True , False]

[True, False]

In [6]:
['Jenifer','Bob', 'henry']

['Jenifer', 'Bob', 'henry']

In [7]:
attendies =  ['Jenifer','Bob', 'henry']

In [9]:
attendies

['Jenifer', 'Bob', 'henry']

In [10]:
len(attendies)

3

In [11]:
type(attendies)

list

In [23]:
counties = ['India' , 'Russia']

In [24]:
counties

['India', 'Russia']

In [25]:
counties.append('Nepal')  #adds the value at the end of the list

In [26]:
counties

['India', 'Russia', 'Nepal']

In [31]:
#pop()   ---  removes element from the end of the list
sports = ['cricket','tennies','football']

In [28]:
sports

['cricket', 'tennies', 'football']

In [32]:
sports.pop() # removes elemen from the end of the list

'football'

In [33]:
sports

['cricket', 'tennies']

In [35]:
planet = ['Earth', 'Mars','Venus','Jupiter']

In [36]:
planet

['Earth', 'Mars', 'Venus', 'Jupiter']

In [37]:
'Earth' in planet

True

In [38]:
'earth' in planet

False

In [39]:
'Pluto' in planet

False

In [40]:
'Pluto' not in planet

True

## Index Positions and Slicing
- Python assigns every string character an **index position** (an order in line).
- Python assigns every list element an **index position** (an order in line).
- The index starts counting at 0.
- Use square brackets to extract a character/element by index position.
- Use negative values to extract a character/element relative to the end of the object.
- Use slicing to extract multiple character/elements.
- The first index in a slice is inclusive. The second index in a slice is exclusive (Python will go up to that index but *not* include its value).

In [1]:
hero = 'Spiderman'

In [2]:
hero

'Spiderman'

In [3]:
len(hero)

9

In [5]:
hero[8]
hero[5]

'r'

In [7]:
hero[0]

'S'

In [12]:
hero[-1] #give last index position element
hero[-2] #give 2nd last index position element 
hero[-9]

'S'

In [15]:
hero[1:3]  #start from index position 1 and go to 3 but do not include 3
hero[3:7]

'derm'

In [17]:
hero[0:7]
hero[0:6]

'Spider'

In [18]:
hero[:6]

'Spider'

In [22]:
hero[3:100]  #pull everything from index position 3 to all the way to the end
hero[3:]

'derman'

In [24]:
superheroes = ['Superman','Spiderman','Batman','Hulk' ,'Ironman' , 'Kratos']
superheroes

['Superman', 'Spiderman', 'Batman', 'Hulk', 'Ironman', 'Kratos']

In [28]:
len(superheroes)

6

In [31]:
superheroes[1]
superheroes[0]
superheroes[3]
superheroes[4]

'Ironman'

In [33]:
superheroes[-2]
superheroes[-1]

'Kratos'

In [38]:
superheroes[:8]
superheroes[1:3]
superheroes[1:]

['Spiderman', 'Batman', 'Hulk', 'Ironman', 'Kratos']

## Dictionaries
- A **dictionary** is a mutable, unordered collection of key-value pairs.
- A **key** is a unique identifier for a value.
- A **value** corresponds to the key. The values can contain duplicates.
- Use a dictionary for **association** (i.e., to connect/map two values together). Use a list for **order**.
- Declare a dictionary with a pair of curly braces.
- Write a colon between every key and value.
- Separate each key-value pair with a comma and a space.
- The length of a dictionary is a count of its key-value pairs.

In [1]:
menu = {'burger':49,
        'biryani':90,
        'ice cream':40}

In [2]:
menu

{'burger': 49, 'biryani': 90, 'ice cream': 40}

In [3]:
len(menu)

3

In [6]:
menu['ice cream']
menu['biryani']
menu['burger']

49

In [7]:
menu['Rice'] = 50

In [17]:
menu['Roll'] = 80
menu['Tea'] = 20

In [18]:
menu

{'burger': 49,
 'biryani': 90,
 'ice cream': 40,
 'Rice': 50,
 'Roll': 80,
 'Tea': 20}

In [14]:
'Tea' in menu

True

In [19]:
menu.pop('Tea') #takes keys as the argument/

20

In [21]:
'Tea' in menu

False

In [22]:
'Coffee' in menu

False

In [24]:
menu.values() #returns all the values in the dictionary

dict_values([49, 90, 40, 50, 80])

In [26]:
menu.keys()  # returns all the keys in the dictionary

dict_keys(['burger', 'biryani', 'ice cream', 'Rice', 'Roll'])

In [27]:
80 in menu.values()

True

In [28]:
99 in menu.values()

False

In [29]:
'Coffee' not in menu

True

## Classes
- A **class** is a blueprint/template for creating objects.
- A **class** defines the methods/functionalities that objects made from it will have.
- An object is called an **instance** of the class it is made from.
- The act of creating an object from a class is called **instantiation**.
- Every time we've worked with a Python object, it's been "instantiated" from a class.
- In real world terms, a class is the blueprint and the house we build is the instance/object.
- Syntax options like `""` or `[]` or `{}` are shortcuts for instantiation.
- For other classes, we'll need to use `class()` syntax to instantiate an object.
- Much like functions and methods, some class instantiations will require arguments.

<img src="Blueprint.png" width="600" height="410">

## Navigating Libraries using Jupyter Lab

In [30]:
import pandas as pd

In [31]:
pd.ArrowDtype

pandas.core.dtypes.dtypes.ArrowDtype

In [32]:
pd.Categorical

pandas.core.arrays.categorical.Categorical