# Series

In [1]:
import pandas as pd

## Create a Series Object from a List
- A pandas **Series** is a one-dimensional labelled array.
- A Series combines the best features of a list and a dictionary.
- A Series maintains a single collection of ordered values (i.e. a single column of data).
- We can assign each value an identifier, which does not have to *be* unique.

In [3]:
ice_cream = ['Vanilla','Chocolate','Butter' , 'Berry']
pd.Series(ice_cream)

0      Vanilla
1    Chocolate
2       Butter
3        Berry
dtype: object

In [4]:
lottery = [4,5,2,89,7,8]
pd.Series(lottery)

0     4
1     5
2     2
3    89
4     7
5     8
dtype: int64

In [5]:
booleans = [True,False,True,False,True,False]
pd.Series(booleans)

0     True
1    False
2     True
3    False
4     True
5    False
dtype: bool

## Create a Series Object from a Dictionary

In [6]:
Students = {
    'Grade A': 'Pass with excellent marks',
    'Grade B': 'Pass , need to improve',
    'Grade C': 'Just Pass'
}

In [7]:
pd.Series(Students)

Grade A    Pass with excellent marks
Grade B       Pass , need to improve
Grade C                    Just Pass
dtype: object

## Intro to Series Methods
- The syntax to invoke a method on any object is `object.method()`.
- The `sum` method adds together the **Series'** values.
- The `product` method multiplies the **Series'** values.
- The `mean` method finds the average of the **Series'** values.
- The `std` method finds the standard deviation of the **Series'** values.

In [9]:
prices = pd.Series([3,4.2,5.0,22,1.1])
prices

0     3.0
1     4.2
2     5.0
3    22.0
4     1.1
dtype: float64

In [14]:
prices.sum()

35.300000000000004

In [15]:
prices.product()

1524.6000000000004

In [16]:
prices.mean()

7.0600000000000005

In [17]:
prices.std()

8.479858489385304

## Intro to Attributes
- An **attribute** is a piece of data that lives on an object.
- An **attribute** is a fact, a detail, a characteristic of the object.
- Access an attribute with `object.attribute` syntax.
- The `size` attribute returns a count of the number of values in the **Series**.
- The `is_unique` attribute returns True if the **Series** has no duplicate values.
- The `values` and `index` attributes return the underlying objects that holds the **Series'** values and index labels.

In [3]:
fruits = pd.Series(['Apple','Litchi','Oranges','Banana','Lemon','Mango'])
fruits

0      Apple
1     Litchi
2    Oranges
3     Banana
4      Lemon
5      Mango
dtype: object

In [4]:
fruits.size

6

In [6]:
fruits.is_unique #if has duplicate valus returns False , else True

True

In [7]:
fruits.values

array(['Apple', 'Litchi', 'Oranges', 'Banana', 'Lemon', 'Mango'],
      dtype=object)

In [8]:
fruits.index

RangeIndex(start=0, stop=6, step=1)

In [9]:
type(fruits)

pandas.core.series.Series

In [10]:
type(fruits.values)

numpy.ndarray

In [11]:
type(fruits.index)

pandas.core.indexes.range.RangeIndex

## Parameters and Arguments
- A **parameter** is the name for an expected input to a function/method/class instantiation.
- An **argument** is the concrete value we provide for a parameter during invocation.
- We can pass arguments either sequentially (based on parameter order) or with explicit parameter names written out.
- The first two parameters for the **Series** constructor are `data` and `index`, which represent the values and the index labels.

In [7]:
Fruits = ['Apple','BlueBerry','Orange','Pineapple','Plum','Mango']
weekdays = ['Monday','Tuesday','Wednesday','Thursday','Friday','Monday']

In [8]:
pd.Series(Fruits)
pd.Series(weekdays)

0       Monday
1      Tuesday
2    Wednesday
3     Thursday
4       Friday
5       Monday
dtype: object

In [9]:
pd.Series(Fruits,weekdays)

Monday           Apple
Tuesday      BlueBerry
Wednesday       Orange
Thursday     Pineapple
Friday            Plum
Monday           Mango
dtype: object

In [10]:
pd.Series(weekdays,Fruits)

Apple           Monday
BlueBerry      Tuesday
Orange       Wednesday
Pineapple     Thursday
Plum            Friday
Mango           Monday
dtype: object

In [11]:
pd.Series(index = weekdays , data = Fruits)

Monday           Apple
Tuesday      BlueBerry
Wednesday       Orange
Thursday     Pineapple
Friday            Plum
Monday           Mango
dtype: object

In [13]:
pd.Series(data=Fruits , index= weekdays)

Monday           Apple
Tuesday      BlueBerry
Wednesday       Orange
Thursday     Pineapple
Friday            Plum
Monday           Mango
dtype: object

## Import Series with the pd.read_csv Function
- A **CSV** is a plain text file that uses line breaks to separate rows and commas to separate row values.
- Pandas ships with many different `read_` functions for different types of files.
- The `read_csv` function accepts many different parameters. The first one specifies the file name/path.
- The `read_csv` function will import the dataset as a **DataFrame**, a 2-dimensional table.
- The `usecols` parameter accepts a list of the column(s) to import.
- The `squeeze` method converts a **DataFrame** to a **Series**.

In [16]:
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [25]:
pd.read_csv("pokemon.csv")
pd.read_csv('pokemon.csv' , usecols=['Name'])  #to get a specific column

              Name
0        Bulbasaur
1          Ivysaur
2         Venusaur
3       Charmander
4       Charmeleon
...            ...
1005  Iron Valiant
1006      Koraidon
1007      Miraidon
1008  Walking Wake
1009   Iron Leaves

[1010 rows x 1 columns]

In [33]:
#before converting it to series , we must have one column
pd.read_csv('pokemon.csv', usecols=['Name']).squeeze('columns') #convert the data frame into series

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [28]:
pokemon = pd.read_csv('pokemon.csv', usecols=['Name']).squeeze('columns')  #assigning it to a variable
pokemon

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [38]:
pd.read_csv('google_stock_price.csv') #importing the dataset
pd.read_csv('google_stock_price.csv' , usecols=['Date']) . squeeze('columns')
pd.read_csv('google_stock_price.csv', usecols=['Price']).squeeze('columns')

0         2.490664
1         2.515820
2         2.758411
3         2.770615
4         2.614201
           ...
4788    132.080002
4789    132.998001
4790    135.570007
4791    137.050003
4792    138.429993
Name: Price, Length: 4793, dtype: float64

## The head and tail Methods
- The `head` method returns a number of rows from the top/beginning of the `Series`.
- The `tail` method returns a number of rows from the bottom/end of the `Series`.

In [11]:
pokemon = pd.read_csv('pokemon.csv' , usecols=['Name']).squeeze('columns')
google = pd.read_csv('google_stock_price.csv',usecols=['Price']).squeeze('columns')

In [20]:
google.head()
google.head(8)

0    2.490664
1    2.515820
2    2.758411
3    2.770615
4    2.614201
5    2.613952
6    2.692408
7    2.622171
Name: Price, dtype: float64

In [21]:
pokemon.head()
pokemon.head(2)
pokemon.head(1)
pokemon.head(10)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
8     Blastoise
9      Caterpie
Name: Name, dtype: object

In [22]:
pokemon.tail()
pokemon.tail(2)

1008    Walking Wake
1009     Iron Leaves
Name: Name, dtype: object

In [25]:
google.tail()
google.tail(3)

4790    135.570007
4791    137.050003
4792    138.429993
Name: Price, dtype: float64

## Passing Series to Python's Built-In Functions
- The `len` function returns the length of the **Series**.
- The `type` function returns the type of an object.
- The `list` function converts the **Series** to a list.
- The `dict` function converts the **Series** to a dictionary.
- The `sorted` function converts the **Series** to a sorted list.
- The `max` function returns the largest value in the **Series**.
- The `min` function returns the smalllest value in the **Series**.

In [13]:
pokemon = pd.read_csv('pokemon.csv', usecols=['Name']). squeeze('columns')
google = pd.read_csv('google_stock_price.csv', usecols=['Price']).squeeze('columns')

In [14]:
len(pokemon)
type(pokemon)

pandas.core.series.Series

In [18]:
# pokemon = pd.read_csv('pokemon.csv', usecols=['Type']). squeeze('columns')
list(pokemon.head()) #list converts the from one type to another , here it converts Series into List

['Bulbasaur', 'Ivysaur', 'Venusaur', 'Charmander', 'Charmeleon']

In [24]:
list(pokemon)
sorted(pokemon) # this sorts the list in osrted order , ascending to descending 
type(sorted(pokemon))
type(list(pokemon))

list

In [39]:
type(list(google))
sorted(google)
dict(pokemon)  # converts the series into dictionary
dict(google)
type(dict(google))

dict

In [41]:
max(google)

151.863495

In [42]:
min(google)

2.47049

In [43]:
max(pokemon)

'Zygarde'

In [44]:
min(pokemon)

'Abomasnow'

## Check for Inclusion with Python's in Keyword
- The `in` keyword checks if a value exists within an object.
- The `in` keyword will look for a value in the **Series's** index.
- Use the `index` and `values` attributes to access "nested" objects within the **Series**.
- Combine the `in` keyword with `values` to search within the **Series's** values.

In [5]:
pokemon = pd.read_csv('pokemon.csv' , usecols=['Name']).squeeze ('columns')
google = pd.read_csv('google_stock_price.csv', usecols=['Price']).squeeze('columns')

In [6]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [8]:
'A' in 'apple'

False

In [15]:
'Balbasaur' in pokemon  #1st it checks in index label that is why we get false

False

In [11]:
'Bulbasaur' in pokemon.values   #bulbasaur is in values that is why we write values method

True

In [19]:
0 in pokemon  #by default it will check in index , and 0 is in index so true
1 in pokemon.index #we can also write like this

True

In [20]:
pokemon.values

array(['Bulbasaur', 'Ivysaur', 'Venusaur', ..., 'Miraidon',
       'Walking Wake', 'Iron Leaves'], dtype=object)

In [22]:
'Pikachu' in pokemon.values

True

In [23]:
'Nothing' in pokemon.values

False

## The sort_values Method
- The `sort_values` method sorts a **Series** values in order.
- By default, pandas applies an ascending sort (smallest to largest).
- Customize the sort order with the `ascending` parameter.

In [8]:
pokemon = pd.read_csv('pokemon.csv' , usecols=['Name']).squeeze('columns')
google = pd.read_csv('google_stock_price.csv',usecols=['Price']).squeeze('columns')

In [15]:
google.sort_values()  #by default in sorts the data in ascending order

10        2.470490
0         2.490664
13        2.509095
11        2.514326
1         2.515820
           ...
4341    150.000000
4336    150.000000
4346    150.141754
4345    151.000000
4395    151.863495
Name: Price, Length: 4793, dtype: float64

In [11]:
google.head().sort_values()

0    2.490664
1    2.515820
4    2.614201
2    2.758411
3    2.770615
Name: Price, dtype: float64

In [16]:
google.sort_values(ascending=True)
google.sort_values(ascending = True).head()

10    2.470490
0     2.490664
13    2.509095
11    2.514326
1     2.515820
Name: Price, dtype: float64

In [17]:
google.sort_values(ascending=False)
google.sort_values(ascending=False).head()

4395    151.863495
4345    151.000000
4346    150.141754
4341    150.000000
4336    150.000000
Name: Price, dtype: float64

In [21]:
pokemon.sort_values()
pokemon.sort_values(ascending=True)
pokemon.sort_values(ascending=False)
pokemon.sort_values(ascending=True).head()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
Name: Name, dtype: object

In [22]:
flavors = ["Spicy Sweet Chili", "Cool Ranch", "Nacho Cheese", "Salsa Verde"]
pd.Series(flavors)

0    Spicy Sweet Chili
1           Cool Ranch
2         Nacho Cheese
3          Salsa Verde
dtype: object

## The sort_index Method
- The `sort_index` method sorts a **Series** by its index.
- The `sort_index` method also accepts an `ascending` parameter to set sort order.

In [30]:
pokemon = pd.read_csv('pokemon.csv' , index_col=['Name']).squeeze('columns')
pokemon.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [34]:
pokemon.sort_index()
# pokemon.sort_values()
pokemon.sort_index(ascending=False)

Name
Zygarde      Dragon, Ground
Zweilous       Dark, Dragon
Zubat        Poison, Flying
Zorua                  Dark
Zoroark                Dark
                  ...
Aegislash      Steel, Ghost
Accelgor                Bug
Absol                  Dark
Abra                Psychic
Abomasnow        Grass, Ice
Name: Type, Length: 1010, dtype: object

In [28]:
pd.read_csv('google_stock_price.csv',index_col=['Price']).squeeze('columns')

Price
2.490664      2004-08-19
2.515820      2004-08-20
2.758411      2004-08-23
2.770615      2004-08-24
2.614201      2004-08-25
                 ...
132.080002    2023-08-28
132.998001    2023-08-29
135.570007    2023-08-30
137.050003    2023-08-31
138.429993    2023-09-01
Name: Date, Length: 4793, dtype: object

In [38]:
flavors = ["Red", "Blue", "Green", "Orange"]
gatorade = pd.Series(flavors).sort_values()

In [39]:
gatorade

1      Blue
2     Green
3    Orange
0       Red
dtype: object

In [41]:
original = pd.Series(flavors).sort_index()
original

0       Red
1      Blue
2     Green
3    Orange
dtype: object

## Extract Series Value by Index Position
- Use the `iloc` accessor to extract a **Series** value by its index position.
- `iloc` is short for "index location".
- Python's list slicing syntaxes (slices, slices from start, slices to end, etc.) are supported with **Series** objects.

In [28]:
pokemon = pd.read_csv('pokemon.csv', usecols=['Name']).squeeze('columns')
pokemon.head()
# pokemon[0]

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [7]:
pokemon.iloc[1]

'Ivysaur'

In [9]:
pokemon.iloc[500]

'Oshawott'

In [11]:
pokemon.iloc[[20,40,900]]   #to access multiple index values

20      Spearow
40        Zubat
900    Ursaluna
Name: Name, dtype: object

In [12]:
pokemon.iloc[2:300]

2        Venusaur
3      Charmander
4      Charmeleon
5       Charizard
6        Squirtle
          ...
295      Makuhita
296      Hariyama
297       Azurill
298      Nosepass
299        Skitty
Name: Name, Length: 298, dtype: object

In [13]:
pokemon.iloc[:8]

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
Name: Name, dtype: object

In [15]:
pokemon.iloc[10:]

10           Metapod
11        Butterfree
12            Weedle
13            Kakuna
14          Beedrill
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1000, dtype: object

In [16]:
pokemon.iloc[-2]

'Walking Wake'

## Extract Series Value by Index Label
- Use the `loc` accessor to extract a **Series** value by its index label.
- Pass a list to extract multiple values by index label.
- If one index label/position in the list does not exist, Pandas will raise an error.

In [29]:
pokemon = pd.read_csv('pokemon.csv', index_col=['Name']).squeeze('columns')
pokemon.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [32]:
pokemon.loc["Bulbasaur"]
pokemon.loc[['Bulbasaur','Miraidon','Walking Wake']]

Name
Bulbasaur          Grass, Poison
Miraidon        Electric, Dragon
Walking Wake       Water, Dragon
Name: Type, dtype: object

In [31]:
pokemon['Bulbasaur']

'Grass, Poison'

## The get Method on a Series
- The `get` method extracts a **Series** value by index label. It is an alternative option to square brackets.
- The `get` method's second argument sets the fallback value to return if the label/position does not exist.

In [3]:
pokemon = pd.read_csv('pokemon.csv', index_col=['Name']).squeeze('columns')
pokemon.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [8]:
pokemon.loc['Pikachu']
pokemon.get('Pikachu')

'Electric'

In [9]:
pokemon.get('Bulbasaur','Charmander')

'Grass, Poison'

In [10]:
pokemon.get(['Bulbasaur','Charmander'])

Name
Bulbasaur     Grass, Poison
Charmander             Fire
Name: Type, dtype: object

## Overwrite a Series Value
- Use the `loc/iloc` accessor to target an index label/position, then use an equal sign to provide a new value.

In [3]:
pokemon = pd.read_csv('pokemon.csv' , usecols=['Name']).squeeze('columns')
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [5]:
pokemon.iloc[0] = 'Gourav'

In [9]:
pokemon.iloc[[1,2,4]] = ['Sun' , 'Moon','Earth']

In [10]:
pokemon.head()

0        Gourav
1           Sun
2          Moon
3    Charmander
4         Earth
Name: Name, dtype: object

In [11]:
pokemon = pd.read_csv('pokemon.csv' , index_col=['Name']).squeeze('columns')
pokemon.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [16]:
pokemon.loc['Bulbasaur'] = 'Earth'
pokemon.loc['Bulbasaur']

'Earth'

In [18]:
pokemon.iloc[1] = 'Silly'
pokemon.head()

Name
Bulbasaur             Earth
Ivysaur               Silly
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

## The copy Method
- A **copy** is a duplicate/replica of an object.
- Changes to a copy do not modify the original object.
- A **view** is a different way of looking at the *same* data.
- Changes to a view *do* modify the original object.
- The `copy` method creates a copy of a pandas object.

## Math Methods on Series Objects
- The `count` method returns the number of values in the **Series**. It excludes missing values; the `size` attribute includes missing values.
- The `sum` method adds together the **Series's** values.
- The `product` method multiplies together the **Series's** values.
- The `mean` method calculates the average of the **Series's** values.
- The `std` method calculates the standard deviation of the **Series's** values.
- The `max` method returns the largest value in the **Series**.
- The `min` method returns the smallest value in the **Series**.
- The `median` method returns the median of the **Series** (the value in the middle).
- The `mode` method returns the mode of the **Series** (the most frequent alue).
- The `describe` method returns a summary with various mathematical calculations.

In [2]:
google = pd.read_csv('google_stock_price.csv',usecols=['Price']).squeeze('columns')
google.head()

0    2.490664
1    2.515820
2    2.758411
3    2.770615
4    2.614201
Name: Price, dtype: float64

In [5]:
google.count()
google.size

4793

In [6]:
google.sum()

192733.129338

In [11]:
google.product() #the multiplied number is just too big for python to display
pd.Series([1,2,3,4]).product()

C:\Users\LENOVO\anaconda3\envs\pandas-playground\Lib\site-packages\numpy\core\_methods.py:53: RuntimeWarning: overflow encountered in reduce
  return umr_prod(a, axis, dtype, out, keepdims, initial, where)

24

In [12]:
google.mean()

40.211376870018775

In [13]:
google.std()

37.27475294386811

In [14]:
google.max()

151.863495

In [15]:
google.min()

2.47049

In [16]:
google.median()

26.327717

In [19]:
google.mode()
pd.Series([1,2,44,4,4,5]).mode()   #for better example , here 4 is the most frequent one

0    4
dtype: int64

In [20]:
google.describe()

count    4793.000000
mean       40.211377
std        37.274753
min         2.470490
25%        12.767395
50%        26.327717
75%        56.311001
max       151.863495
Name: Price, dtype: float64

## Broadcasting
- **Broadcasting** describes the process of applying an arithmetic operation to an array (i.e., a **Series**).
- We can combine mathematical operators with a **Series** to apply the mathematical operation to every value.
- There are also methods to accomplish the same results (`add`, `sub`, `mul`, `div`, etc.)

In [4]:
google = pd.read_csv('google_stock_price.csv' , usecols=['Price']).squeeze('columns')
google.head()

0    2.490664
1    2.515820
2    2.758411
3    2.770615
4    2.614201
Name: Price, dtype: float64

In [8]:
google.add(10)
google + 10  #we can also use this , same result

0        12.490664
1        12.515820
2        12.758411
3        12.770615
4        12.614201
           ...
4788    142.080002
4789    142.998001
4790    145.570007
4791    147.050003
4792    148.429993
Name: Price, Length: 4793, dtype: float64

In [13]:
google.sub(30)
google - 30  #this will also gice same result

0       -27.509336
1       -27.484180
2       -27.241589
3       -27.229385
4       -27.385799
           ...
4788    102.080002
4789    102.998001
4790    105.570007
4791    107.050003
4792    108.429993
Name: Price, Length: 4793, dtype: float64

In [16]:
google.mul(2)
google * 2
2 * google

0         4.981328
1         5.031640
2         5.516822
3         5.541230
4         5.228402
           ...
4788    264.160004
4789    265.996002
4790    271.140014
4791    274.100006
4792    276.859986
Name: Price, Length: 4793, dtype: float64

In [18]:
google.div(2)
google / 2

0        1.245332
1        1.257910
2        1.379206
3        1.385307
4        1.307100
          ...
4788    66.040001
4789    66.499000
4790    67.785004
4791    68.525002
4792    69.214996
Name: Price, Length: 4793, dtype: float64

## The value_counts Method
- The `value_counts` method returns the number of times each unique value occurs in the **Series**.
- The `normalize` parameter returns the relative frequencies/percentages of the values instead of the counts.

In [20]:
pokemon = pd.read_csv('pokemon.csv', index_col=['Name']).squeeze('columns')
pokemon.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [21]:
pokemon.value_counts()

Type
Water               74
Normal              74
Grass               46
Psychic             39
Fire                36
                    ..
Fighting, Ice        1
Fire, Dragon         1
Normal, Dragon       1
Psychic, Steel       1
Fighting, Dragon     1
Name: count, Length: 200, dtype: int64

In [24]:
pokemon.value_counts(True)  #normalize 
pokemon.value_counts(normalize = True)   #both gives same result

Type
Water               0.073267
Normal              0.073267
Grass               0.045545
Psychic             0.038614
Fire                0.035644
                      ...
Fighting, Ice       0.000990
Fire, Dragon        0.000990
Normal, Dragon      0.000990
Psychic, Steel      0.000990
Fighting, Dragon    0.000990
Name: proportion, Length: 200, dtype: float64

In [25]:
pokemon.value_counts(ascending = True)

Type
Ice, Ghost           1
Fire, Water          1
Fighting, Flying     1
Normal, Ground       1
Dragon, Electric     1
                    ..
Fire                36
Psychic             39
Grass               46
Normal              74
Water               74
Name: count, Length: 200, dtype: int64

In [26]:
pokemon.value_counts(normalize= True) * 100

Type
Water               7.326733
Normal              7.326733
Grass               4.554455
Psychic             3.861386
Fire                3.564356
                      ...
Fighting, Ice       0.099010
Fire, Dragon        0.099010
Normal, Dragon      0.099010
Psychic, Steel      0.099010
Fighting, Dragon    0.099010
Name: proportion, Length: 200, dtype: float64

## The apply Method
- The `apply` method accepts a function. It invokes that function on every `Series` value.

In [2]:
pokemon = pd.read_csv('pokemon.csv' , usecols=['Name']).squeeze('columns')
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [3]:
pokemon.apply(len)

0        9
1        7
2        8
3       10
4       10
        ..
1005    12
1006     8
1007     8
1008    12
1009    11
Name: Name, Length: 1010, dtype: int64

In [7]:
def count_of_a(pokemon):
    return pokemon.count('a')

pokemon.apply(count_of_a)

0       2
1       1
2       1
3       2
4       1
       ..
1005    2
1006    1
1007    1
1008    2
1009    1
Name: Name, Length: 1010, dtype: int64

## The map Method
- The `map` method "maps" or connects each **Series** values to another value.
- We can pass the method a dictionary or a **Series**. Both types connects keys to values.
- The `map` method uses our argument to connect or bridge together the values.

In [2]:
pokemon = pd.read_csv('pokemon.csv' ,index_col=['Name']).squeeze('columns')
pokemon

Name
Bulbasaur          Grass, Poison
Ivysaur            Grass, Poison
Venusaur           Grass, Poison
Charmander                  Fire
Charmeleon                  Fire
                      ...
Iron Valiant     Fairy, Fighting
Koraidon        Fighting, Dragon
Miraidon        Electric, Dragon
Walking Wake       Water, Dragon
Iron Leaves       Grass, Psychic
Name: Type, Length: 1010, dtype: object

In [4]:
attack_powers = {
    'Grass':10,
    'Fire':15,
    'Water':15,
    'Fairy, Fighting':20,
    'Grass, Psychic':50   
}

In [5]:
pokemon.map(attack_powers)

Name
Bulbasaur        NaN
Ivysaur          NaN
Venusaur         NaN
Charmander      15.0
Charmeleon      15.0
                ...
Iron Valiant    20.0
Koraidon         NaN
Miraidon         NaN
Walking Wake     NaN
Iron Leaves     50.0
Name: Type, Length: 1010, dtype: float64