# Working with Dates and Times

In [1]:
import pandas as pd
import datetime as dt

## Review of Python's datetime Module
- The `datetime` module is built into the core Python programming language.
- The common alias for the `datetime` module is `dt`.
- A module is a Python source file; think of like an internal library that Python loads on demand.
- The `datetime` module includes `date` and `datetime` classes for representing dates and datetimes.
- The `date` constructor accepts arguments for year, month, and day. Python defaults to 0 for any missing values.
- The `datetime` constructor accepts arguments for year, month, day, hour, minute, and second.

In [14]:
dt.date(2024 ,12, 15)  #The date constructor accepts arguments for year, month, and day. Python defaults to 0 for any missing values.

someday = dt.date(2025 , 12, 15)
someday.year

2025

In [10]:
someday.month

12

In [13]:
someday.day

15

In [16]:
dt.datetime(2025 ,12, 15)    #The datetime constructor accepts arguments for year, month, day, hour, minute, and second.

datetime.datetime(2025, 12, 15, 0, 0)

In [18]:
dt.datetime(2025 ,12, 15 ,8)   #here it is 8 AM , and 0 mins

datetime.datetime(2025, 12, 15, 8, 0)

In [20]:
dt.datetime(2025 ,12, 15 ,8, 15)  #it is 8 am 15 mins, of dec 15, 2025

datetime.datetime(2025, 12, 15, 8, 15)

In [21]:
dt.datetime(2025 ,12, 15 ,8 ,15, 40) # 8am , 15 min , 40 sec  -   datetime format

datetime.datetime(2025, 12, 15, 8, 15, 40)

In [32]:
sometime = dt.datetime(2025 ,12, 15 ,8 ,45, 40)
sometime

datetime.datetime(2025, 12, 15, 8, 45, 40)

In [34]:
sometime.second
sometime.minute
sometime.day
sometime.year

2025

In [36]:
sometime.hour
sometime.month

12

## The Timestamp and DatetimeIndex Objects

- Pandas ships with several classes related to datetimes.
- The **Timestamp** is similar to Python's **datetime** object (but with expanded functionality).
- A **DatetimeIndex** is an index of **Timestamp** objects.
- The **Timestamp** constructor accepts a string, a **datetime** object, or equivalent arguments to the **datetime** clas.

In [4]:
pd.Timestamp(2024, 9,2)  #The Timestamp is similar to Python's datetime object (but with expanded functionality).

Timestamp('2024-09-02 00:00:00')

In [7]:
pd.Timestamp(2024, 9,2, 22, 41, 15)  #after day we have , time which is in 224 hr format - time is- 10:41

Timestamp('2024-09-02 22:41:15')

In [9]:
#we can provide date and datetime constructor in Timestamp
pd.Timestamp(dt.date(2024 ,9, 2))

pd.Timestamp(dt.datetime(2024, 9,2, 22, 41, 15))

Timestamp('2024-09-02 22:41:15')

In [11]:
pd.Timestamp('2025-1-1')
pd.Timestamp('2025/1/1')

Timestamp('2025-01-01 00:00:00')

In [12]:
pd.Timestamp('2025/1-1')

Timestamp('2025-01-01 00:00:00')

In [13]:
pd.Timestamp('2025-1/1')

Timestamp('2025-01-01 00:00:00')

In [14]:
pd.Timestamp('2025/1/1 8:35:15')

Timestamp('2025-01-01 08:35:15')

In [19]:
#to crete a series of datetime
pd.Series([pd.Timestamp('2025/1/1')])

pd.Series([pd.Timestamp('2024-9-2 8:35:15')])

0   2024-09-02 08:35:15
dtype: datetime64[ns]

In [21]:
pd.Series([pd.Timestamp('2024-9-2 8:35:15'), dt.datetime(2024, 9,2, 22, 41, 15)])

0   2024-09-02 08:35:15
1   2024-09-02 22:41:15
dtype: datetime64[ns]

In [27]:
# a series of datetime is going to be fundamentally a series of timestamp , we can see that dtype
pd.Series([pd.Timestamp('2024-9-2 8:35:15'), dt.datetime(2024, 9,2, 22, 41, 15)]).iloc[0]

pd.Series([pd.Timestamp('2024-9-2 8:35:15'), dt.datetime(2024, 9,2, 22, 41, 15)]).loc[0]

Timestamp('2024-09-02 08:35:15')

In [28]:
pd.DatetimeIndex(['2025-1-1' , '2025-2-1' , '2025-3-1'])

DatetimeIndex(['2025-01-01', '2025-02-01', '2025-03-01'], dtype='datetime64[ns]', freq=None)

In [39]:
#datetimeindex can also take date and datetime constructors as well
pd.DatetimeIndex([
            dt.date(2025,10,1),
            dt.datetime(2025,2,1),
            pd.Timestamp(2025,12,1)
    ])

DatetimeIndex(['2025-10-01', '2025-02-01', '2025-12-01'], dtype='datetime64[ns]', freq=None)

In [50]:
index = pd.DatetimeIndex([
            dt.date(2025,10,1),
            dt.date(2025,4,1),
            dt.datetime(2025,2,1),
            pd.Timestamp(2025,12,1)
    ])

index
#getting access to the 1st value of index variable
index[0]

#2nd value
index[1]

#we can see it is pandas timestamp object

Timestamp('2025-04-01 00:00:00')

In [51]:
type(index[0])

pandas._libs.tslibs.timestamps.Timestamp

## Create Range of Dates with pd.date_range Function
- The `date_range` function generates and returns a **DatetimeIndex** holding a sequence of dates.
- The function requires 2 of the 3 following parameters: `start`, `end`, and `period`.
- With `start` and `end`, Pandas will assume a daily period/interval.
- Every element within a **DatetimeIndex** is a **Timestamp**.

In [9]:
pd.date_range(start='2025-1-1' , end='2025-1-10')

pd.date_range(start='2025-1-1' , end='2025-1-10' ,freq='D') #giving frequency of single day between every dates , 'D'

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08',
               '2025-01-09', '2025-01-10'],
              dtype='datetime64[ns]', freq='D')

In [10]:
pd.date_range(start='2025-1-1' , end='2025-1-10' ,freq='2D') #now have date range where values are teo days apart

DatetimeIndex(['2025-01-01', '2025-01-03', '2025-01-05', '2025-01-07',
               '2025-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [11]:
pd.date_range(start='2025-1-1' , end='2025-1-10' , freq='B')  #B for business days - Monday to friday , pandas will return dates which are only business days

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-06',
               '2025-01-07', '2025-01-08', '2025-01-09', '2025-01-10'],
              dtype='datetime64[ns]', freq='B')

In [28]:
pd.date_range(start='2025-1-1' , end='2025-1-31' ,freq='W')  # W for week - now have week jump or week frequency , starting from sunday and moving to another week

DatetimeIndex(['2025-01-05', '2025-01-12', '2025-01-19', '2025-01-26'], dtype='datetime64[ns]', freq='W-SUN')

In [18]:
#now if we dont want to start from sunday on week frequency but want to start from another day , say Friday
pd.date_range(start='2025-1-1' , end='2025-1-31' , freq='W-FRI')  #starts from 1t friday and jump on weekly to another friday

DatetimeIndex(['2025-01-03', '2025-01-10', '2025-01-17', '2025-01-24',
               '2025-01-31'],
              dtype='datetime64[ns]', freq='W-FRI')

In [23]:
pd.date_range(start='2025-1-1' , end='2025-1-31' , freq='W-THU')

DatetimeIndex(['2025-01-02', '2025-01-09', '2025-01-16', '2025-01-23',
               '2025-01-30'],
              dtype='datetime64[ns]', freq='W-THU')

In [27]:
pd.date_range(start='2025-1-1' , end='2025-1-31' , freq='H')  #  H for hours - we can also jump or inccrement hourly in a range 

pd.date_range(start='2025-1-1' , end='2025-1-31' , freq='6H') #to progress in frequencies of 6hours at a time

DatetimeIndex(['2025-01-01 00:00:00', '2025-01-01 06:00:00',
               '2025-01-01 12:00:00', '2025-01-01 18:00:00',
               '2025-01-02 00:00:00', '2025-01-02 06:00:00',
               '2025-01-02 12:00:00', '2025-01-02 18:00:00',
               '2025-01-03 00:00:00', '2025-01-03 06:00:00',
               ...
               '2025-01-28 18:00:00', '2025-01-29 00:00:00',
               '2025-01-29 06:00:00', '2025-01-29 12:00:00',
               '2025-01-29 18:00:00', '2025-01-30 00:00:00',
               '2025-01-30 06:00:00', '2025-01-30 12:00:00',
               '2025-01-30 18:00:00', '2025-01-31 00:00:00'],
              dtype='datetime64[ns]', length=121, freq='6H')

In [29]:
pd.date_range(start='2025-1-1' , end='2025-12-31' , freq='M')  #M for months - can also jump ahead in months

DatetimeIndex(['2025-01-31', '2025-02-28', '2025-03-31', '2025-04-30',
               '2025-05-31', '2025-06-30', '2025-07-31', '2025-08-31',
               '2025-09-30', '2025-10-31', '2025-11-30', '2025-12-31'],
              dtype='datetime64[ns]', freq='M')

In [30]:
pd.date_range(start='2025-1-1' , end='2050-12-31' , freq='A') #A for annualy - we can also jumo in anually , getting end month of every year

DatetimeIndex(['2025-12-31', '2026-12-31', '2027-12-31', '2028-12-31',
               '2029-12-31', '2030-12-31', '2031-12-31', '2032-12-31',
               '2033-12-31', '2034-12-31', '2035-12-31', '2036-12-31',
               '2037-12-31', '2038-12-31', '2039-12-31', '2040-12-31',
               '2041-12-31', '2042-12-31', '2043-12-31', '2044-12-31',
               '2045-12-31', '2046-12-31', '2047-12-31', '2048-12-31',
               '2049-12-31', '2050-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [32]:
pd.date_range(start= '2024 -9 -1' , freq='D' , periods=25)  #starting from 1st of Sept , give 25 days , on frequency of one Day at a time

DatetimeIndex(['2024-09-01', '2024-09-02', '2024-09-03', '2024-09-04',
               '2024-09-05', '2024-09-06', '2024-09-07', '2024-09-08',
               '2024-09-09', '2024-09-10', '2024-09-11', '2024-09-12',
               '2024-09-13', '2024-09-14', '2024-09-15', '2024-09-16',
               '2024-09-17', '2024-09-18', '2024-09-19', '2024-09-20',
               '2024-09-21', '2024-09-22', '2024-09-23', '2024-09-24',
               '2024-09-25'],
              dtype='datetime64[ns]', freq='D')

In [35]:
# moving bavvkwards
pd.date_range(end= '2024 -9 -1' , freq='D' , periods=25) #starting from '2024 -9 -1' , progressing backwards with one day at a time give 25 days , 

#our date time index is going to end at '2024 -9 -1' , going back to as many days as needed , 25 days , at a frequency of one day at a time

DatetimeIndex(['2024-08-08', '2024-08-09', '2024-08-10', '2024-08-11',
               '2024-08-12', '2024-08-13', '2024-08-14', '2024-08-15',
               '2024-08-16', '2024-08-17', '2024-08-18', '2024-08-19',
               '2024-08-20', '2024-08-21', '2024-08-22', '2024-08-23',
               '2024-08-24', '2024-08-25', '2024-08-26', '2024-08-27',
               '2024-08-28', '2024-08-29', '2024-08-30', '2024-08-31',
               '2024-09-01'],
              dtype='datetime64[ns]', freq='D')

## The dt Attribute
- The `dt` attribute reveals a `DatetimeProperties` object with attributes/methods for working with datetimes. It is similar to the `str` attribute for string methods.
- The `DatetimeProperties` object has attributes like `day`, `month`, and `year` to reveal information about each date in the **Series**.
- The `day_name` method returns the written day of the week.
- Attributes like `is_month_end` and `is_quarter_start` return Boolean **Series**.

In [5]:
pd.date_range(start='2000-1-1' ,end='2020-12-31' , freq='24d 3h') #our values of dates are progressing with frequency of 24Days and 3 hrs

bunch_of_dates = pd.Series(pd.date_range(start='2000-1-1' ,end='2020-12-31' , freq='24d 3h'))

In [8]:
bunch_of_dates.dt  #this tells us that it is datetimeproperties object

In [9]:
bunch_of_dates.head()

0   2000-01-01 00:00:00
1   2000-01-25 03:00:00
2   2000-02-18 06:00:00
3   2000-03-13 09:00:00
4   2000-04-06 12:00:00
dtype: datetime64[ns]

In [19]:
bunch_of_dates.dt.day  #getting every date value
bunch_of_dates.dt.month
bunch_of_dates.dt.year
bunch_of_dates.dt.time
bunch_of_dates.dt.hour

0       0
1       3
2       6
3       9
4      12
       ..
313     3
314     6
315     9
316    12
317    15
Length: 318, dtype: int32

In [21]:
bunch_of_dates.dt.day_of_year

0        1
1       25
2       49
3       73
4       97
      ...
313    247
314    271
315    295
316    319
317    343
Length: 318, dtype: int32

In [23]:
bunch_of_dates.dt.day_name()

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
         ...
313     Thursday
314       Sunday
315    Wednesday
316     Saturday
317      Tuesday
Length: 318, dtype: object

In [29]:
bunch_of_dates.dt.is_month_end #returns a boolean series, whether the given day falls on the last day of month

0      False
1      False
2      False
3      False
4      False
       ...
313    False
314    False
315    False
316    False
317    False
Length: 318, dtype: bool

In [27]:
bunch_of_dates.dt.is_month_start # Returns true if the day falls on the first day of the month

0       True
1      False
2      False
3      False
4      False
       ...
313    False
314    False
315    False
316    False
317    False
Length: 318, dtype: bool

In [33]:
bunch_of_dates.dt.is_quarter_start  #day falls on the start of the quarter 
bunch_of_dates[bunch_of_dates.dt.is_quarter_start]

0     2000-01-01 00:00:00
106   2007-01-01 06:00:00
212   2014-01-01 12:00:00
299   2019-10-01 09:00:00
dtype: datetime64[ns]

## Selecting Rows from a DataFrame with a DateTimeIndex
- The `iloc` accessor is available for index position-based extraction.
- The `loc` accessor accepts strings or **Timestamps** to extract by index label/value. Note that Python's `datetime` objects will not work.
- Use list slicing to extract a sequence of dates. The `truncate` method is another alternative.

In [13]:
pd.read_csv('ibm.csv', parse_dates=['Date'])

stocks = pd.read_csv('ibm.csv', parse_dates=['Date'], index_col='Date').sort_index()
stocks.head()

               Open     High      Low    Close         Volume
Date
1962-01-02  5.04610  5.04610  4.98716  4.98716  593562.955237
1962-01-03  4.98716  5.03292  4.98716  5.03292  445175.034277
1962-01-04  5.03292  5.03292  4.98052  4.98052  399513.586679
1962-01-05  4.97389  4.97389  4.87511  4.88166  559321.480565
1962-01-08  4.88166  4.88166  4.75059  4.78972  833273.771393

In [17]:
stocks.iloc[300]
stocks.loc['2014-3-4']

Open      1.288700e+02
High      1.298270e+02
Low       1.288020e+02
Close     1.293290e+02
Volume    6.825202e+06
Name: 2014-03-04 00:00:00, dtype: float64

In [18]:
stocks.loc[pd.Timestamp(2014,3,4)]

Open      1.288700e+02
High      1.298270e+02
Low       1.288020e+02
Close     1.293290e+02
Volume    6.825202e+06
Name: 2014-03-04 00:00:00, dtype: float64

In [21]:
#to do slicing, pulling from point to another, 
stocks.loc['2014-3-4' : '2014-12-31']

#same thing with timestamp
stocks.loc[pd.Timestamp(2014,3,4) : pd.Timestamp(2014,12,31)]

               Open     High      Low    Close        Volume
Date
2014-03-04  128.870  129.827  128.802  129.329  6.825202e+06
2014-03-05  129.407  130.344  129.319  129.807  5.027617e+06
2014-03-06  129.963  130.676  129.631  130.159  5.503611e+06
2014-03-07  130.676  131.047  129.837  130.198  5.936539e+06
2014-03-10  130.090  130.666  128.890  129.309  6.623102e+06
...             ...      ...      ...      ...           ...
2014-12-24  115.119  115.188  114.183  114.359  2.646416e+06
2014-12-26  114.651  115.257  114.495  114.700  2.706324e+06
2014-12-29  114.485  114.700  112.661  113.412  4.715249e+06
2014-12-30  113.090  113.656  112.934  113.109  4.004903e+06
2014-12-31  113.324  114.105  113.304  113.354  5.677519e+06

[211 rows x 5 columns]

In [24]:
#another way to pull out slicing using Truncate , incTruncate we dont use colon ':' in between , we use comma ','
stocks.truncate('2014-3-4' , '2014-12-31')

               Open     High      Low    Close        Volume
Date
2014-03-04  128.870  129.827  128.802  129.329  6.825202e+06
2014-03-05  129.407  130.344  129.319  129.807  5.027617e+06
2014-03-06  129.963  130.676  129.631  130.159  5.503611e+06
2014-03-07  130.676  131.047  129.837  130.198  5.936539e+06
2014-03-10  130.090  130.666  128.890  129.309  6.623102e+06
...             ...      ...      ...      ...           ...
2014-12-24  115.119  115.188  114.183  114.359  2.646416e+06
2014-12-26  114.651  115.257  114.495  114.700  2.706324e+06
2014-12-29  114.485  114.700  112.661  113.412  4.715249e+06
2014-12-30  113.090  113.656  112.934  113.109  4.004903e+06
2014-12-31  113.324  114.105  113.304  113.354  5.677519e+06

[211 rows x 5 columns]

In [33]:
#if we want to extract specific value using columns , 
stocks.loc['2014-3-4' , 'Close']

#using multiple cols
stocks.loc['2014-3-4' , 'Low':'High']  # remember to proovide columns name in order as in Dataframes ,

stocks.loc['2014-3-4' , 'Open' :'Volume']

stocks.loc['2014-3-4' , 'High':'Close']

High     129.827
Low      128.802
Close    129.329
Name: 2014-03-04 00:00:00, dtype: float64

In [36]:
stocks.loc['2014-3-4':'2014-12-31' , 'High':'Close']

stocks.loc[pd.Timestamp(2014,3,4) : pd.Timestamp(2014,12,31) , 'High':'Close']

               High      Low    Close
Date
2014-03-04  129.827  128.802  129.329
2014-03-05  130.344  129.319  129.807
2014-03-06  130.676  129.631  130.159
2014-03-07  131.047  129.837  130.198
2014-03-10  130.666  128.890  129.309
...             ...      ...      ...
2014-12-24  115.188  114.183  114.359
2014-12-26  115.257  114.495  114.700
2014-12-29  114.700  112.661  113.412
2014-12-30  113.656  112.934  113.109
2014-12-31  114.105  113.304  113.354

[211 rows x 3 columns]

## The DateOffset Object
- A **DateOffset** object adds time to a **Timestamp** to arrive at a new **Timestamp**.
- The **DateOffset** constructor accepts `days`, `weeks`, `months`, `years` parameters, and more.
- We can pass a **DateOffset** object to the `freq` parameter of the `pd.date_range` function.

In [3]:
stocks = pd.read_csv('ibm.csv' , parse_dates=['Date'], index_col='Date').sort_index()
stocks.head()

               Open     High      Low    Close         Volume
Date
1962-01-02  5.04610  5.04610  4.98716  4.98716  593562.955237
1962-01-03  4.98716  5.03292  4.98716  5.03292  445175.034277
1962-01-04  5.03292  5.03292  4.98052  4.98052  399513.586679
1962-01-05  4.97389  4.97389  4.87511  4.88166  559321.480565
1962-01-08  4.88166  4.88166  4.75059  4.78972  833273.771393

In [4]:
stocks.index

DatetimeIndex(['1962-01-02', '1962-01-03', '1962-01-04', '1962-01-05',
               '1962-01-08', '1962-01-09', '1962-01-10', '1962-01-11',
               '1962-01-12', '1962-01-15',
               ...
               '2023-09-28', '2023-09-29', '2023-10-02', '2023-10-03',
               '2023-10-04', '2023-10-05', '2023-10-06', '2023-10-09',
               '2023-10-10', '2023-10-11'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [9]:
stocks.index + pd.DateOffset(days = 5)   # it says to go through every timestamp value of date index and add 5 days to eah one

DatetimeIndex(['1962-01-07', '1962-01-08', '1962-01-09', '1962-01-10',
               '1962-01-13', '1962-01-14', '1962-01-15', '1962-01-16',
               '1962-01-17', '1962-01-20',
               ...
               '2023-10-03', '2023-10-04', '2023-10-07', '2023-10-08',
               '2023-10-09', '2023-10-10', '2023-10-11', '2023-10-14',
               '2023-10-15', '2023-10-16'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [10]:
stocks.index - pd.DateOffset(days = 5)  #going back 5 days

DatetimeIndex(['1961-12-28', '1961-12-29', '1961-12-30', '1961-12-31',
               '1962-01-03', '1962-01-04', '1962-01-05', '1962-01-06',
               '1962-01-07', '1962-01-10',
               ...
               '2023-09-23', '2023-09-24', '2023-09-27', '2023-09-28',
               '2023-09-29', '2023-09-30', '2023-10-01', '2023-10-04',
               '2023-10-05', '2023-10-06'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [11]:
stocks.index + pd.DateOffset(months = 5)  #adding 5 months to every date time index

DatetimeIndex(['1962-06-02', '1962-06-03', '1962-06-04', '1962-06-05',
               '1962-06-08', '1962-06-09', '1962-06-10', '1962-06-11',
               '1962-06-12', '1962-06-15',
               ...
               '2024-02-28', '2024-02-29', '2024-03-02', '2024-03-03',
               '2024-03-04', '2024-03-05', '2024-03-06', '2024-03-09',
               '2024-03-10', '2024-03-11'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [14]:
stocks.index - pd.DateOffset(years = 1) #going back one year

DatetimeIndex(['1961-01-02', '1961-01-03', '1961-01-04', '1961-01-05',
               '1961-01-08', '1961-01-09', '1961-01-10', '1961-01-11',
               '1961-01-12', '1961-01-15',
               ...
               '2022-09-28', '2022-09-29', '2022-10-02', '2022-10-03',
               '2022-10-04', '2022-10-05', '2022-10-06', '2022-10-09',
               '2022-10-10', '2022-10-11'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [15]:
stocks.index + pd.DateOffset(hours = 5)  #added 5 hours to every single date in datetime index going forward

DatetimeIndex(['1962-01-02 05:00:00', '1962-01-03 05:00:00',
               '1962-01-04 05:00:00', '1962-01-05 05:00:00',
               '1962-01-08 05:00:00', '1962-01-09 05:00:00',
               '1962-01-10 05:00:00', '1962-01-11 05:00:00',
               '1962-01-12 05:00:00', '1962-01-15 05:00:00',
               ...
               '2023-09-28 05:00:00', '2023-09-29 05:00:00',
               '2023-10-02 05:00:00', '2023-10-03 05:00:00',
               '2023-10-04 05:00:00', '2023-10-05 05:00:00',
               '2023-10-06 05:00:00', '2023-10-09 05:00:00',
               '2023-10-10 05:00:00', '2023-10-11 05:00:00'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [17]:
# we can add multiple parameters to dateoffset object

stocks.index + pd.DateOffset(years=1, months= 2,  days = 5 , hours = 5, minutes = 15, seconds = 30)

DatetimeIndex(['1963-03-07 05:15:30', '1963-03-08 05:15:30',
               '1963-03-09 05:15:30', '1963-03-10 05:15:30',
               '1963-03-13 05:15:30', '1963-03-14 05:15:30',
               '1963-03-15 05:15:30', '1963-03-16 05:15:30',
               '1963-03-17 05:15:30', '1963-03-20 05:15:30',
               ...
               '2024-12-03 05:15:30', '2024-12-04 05:15:30',
               '2024-12-07 05:15:30', '2024-12-08 05:15:30',
               '2024-12-09 05:15:30', '2024-12-10 05:15:30',
               '2024-12-11 05:15:30', '2024-12-14 05:15:30',
               '2024-12-15 05:15:30', '2024-12-16 05:15:30'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [26]:
#Find the IBM stock price for on every one of 4th of April(12/4)  starting from the year 1991

date_stock = pd.date_range(start='1991-4-12' , end='2023-4-12' , freq=pd.DateOffset(years = 1))
date_stock

DatetimeIndex(['1991-04-12', '1992-04-12', '1993-04-12', '1994-04-12',
               '1995-04-12', '1996-04-12', '1997-04-12', '1998-04-12',
               '1999-04-12', '2000-04-12', '2001-04-12', '2002-04-12',
               '2003-04-12', '2004-04-12', '2005-04-12', '2006-04-12',
               '2007-04-12', '2008-04-12', '2009-04-12', '2010-04-12',
               '2011-04-12', '2012-04-12', '2013-04-12', '2014-04-12',
               '2015-04-12', '2016-04-12', '2017-04-12', '2018-04-12',
               '2019-04-12', '2020-04-12', '2021-04-12', '2022-04-12',
               '2023-04-12'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [29]:
stocks.index.isin(date_stock)  #going to check whether dates in stocks index is present in date_stock datetime index then filter it

stocks[stocks.index.isin(date_stock)].head()

                Open      High       Low     Close        Volume
Date
1991-04-12  18.16780  18.16780  17.69540  17.75200  2.164536e+07
1993-04-12   8.30500   8.48788   8.28665   8.34598  8.518730e+06
1994-04-12   8.79793   8.81911   8.59455   8.65281  1.149508e+07
1995-04-12  14.16070  14.34310  14.09330  14.25620  1.158640e+07
1996-04-12  18.86360  18.92410  18.02330  18.25170  4.724783e+07

In [31]:
#Find the IBM stock price for on every one of 4th of April(12/4)  starting from the year 1991

date_stock = pd.date_range(start='1991-4-12' , end='2023-4-12' , freq=pd.DateOffset(years = 1))
date_stock

stocks.index.isin(date_stock)  #going to check whether dates in stocks index is present in date_stock datetime index then filter it

stocks[stocks.index.isin(date_stock)]

                 Open       High        Low      Close        Volume
Date
1991-04-12   18.16780   18.16780   17.69540   17.75200  2.164536e+07
1993-04-12    8.30500    8.48788    8.28665    8.34598  8.518730e+06
1994-04-12    8.79793    8.81911    8.59455    8.65281  1.149508e+07
1995-04-12   14.16070   14.34310   14.09330   14.25620  1.158640e+07
1996-04-12   18.86360   18.92410   18.02330   18.25170  4.724783e+07
1999-04-12   60.07580   60.10990   59.27160   60.05430  1.366693e+07
2000-04-12   78.30890   78.30890   73.13650   74.49310  1.352295e+07
2001-04-12   63.33930   64.06240   62.51650   63.20750  1.429048e+07
2002-04-12   57.53060   57.79410   55.45480   56.24140  2.405615e+07
2004-04-12   61.43420   61.99840   61.36590   61.59330  4.736957e+06
2005-04-12   56.44050   56.66400   55.95930   56.34190  1.286059e+07
2006-04-12   53.28730   53.46300   52.97880   53.05790  5.943571e+06
2007-04-12   62.43660   62.95670   62.10960   62.86010  1.078356e+07
2010-04-12   84.48650   84.73830   84.26890   84.34410  6.076087e+06
2011-04-12  107.36100  107.59500  106.65800  107.28300  5.876340e+06
2012-04-12  135.49600  137.33200  135.37000  137.18500  4.384856e+06
2013-04-12  143.23600  143.71500  142.54300  143.64600  4.658051e+06
2016-04-12  110.27900  110.65000  109.53700  110.28900  4.874036e+06
2017-04-12  130.58800  130.71500  129.80700  130.29600  4.292101e+06
2018-04-12  124.55700  126.31400  124.48900  125.58200  7.097073e+06
2019-04-12  120.04800  120.18500  119.57000  120.10700  3.484076e+06
2021-04-12  124.11800  124.43900  123.03400  123.71800  4.083806e+06
2022-04-12  121.89300  122.78100  121.09200  121.47300  2.790840e+06
2023-04-12  130.40000  130.88570  128.17000  128.54000  3.957542e+06

## Specialized Date Offsets
- Pandas nests more specialized date offsets in `pd.tseries.offsets`.
- We can add a different amount of time to each date (for example, month end, quarter end, year begin)

In [3]:
stocks = pd.read_csv('ibm.csv' , parse_dates=['Date'] , index_col='Date').sort_index()
stocks.head()

               Open     High      Low    Close         Volume
Date
1962-01-02  5.04610  5.04610  4.98716  4.98716  593562.955237
1962-01-03  4.98716  5.03292  4.98716  5.03292  445175.034277
1962-01-04  5.03292  5.03292  4.98052  4.98052  399513.586679
1962-01-05  4.97389  4.97389  4.87511  4.88166  559321.480565
1962-01-08  4.88166  4.88166  4.75059  4.78972  833273.771393

In [6]:
stocks.index + pd.tseries.offsets.MonthEnd()   #gives specialized dateoff set that will take to the end of month and adding + sign means we are moving forward
                                                #getting last day of the month untill we get to the next month

DatetimeIndex(['1962-01-31', '1962-01-31', '1962-01-31', '1962-01-31',
               '1962-01-31', '1962-01-31', '1962-01-31', '1962-01-31',
               '1962-01-31', '1962-01-31',
               ...
               '2023-09-30', '2023-09-30', '2023-10-31', '2023-10-31',
               '2023-10-31', '2023-10-31', '2023-10-31', '2023-10-31',
               '2023-10-31', '2023-10-31'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [7]:
# with - sign we are moving backwards, to the end of previous month
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['1961-12-31', '1961-12-31', '1961-12-31', '1961-12-31',
               '1961-12-31', '1961-12-31', '1961-12-31', '1961-12-31',
               '1961-12-31', '1961-12-31',
               ...
               '2023-08-31', '2023-08-31', '2023-09-30', '2023-09-30',
               '2023-09-30', '2023-09-30', '2023-09-30', '2023-09-30',
               '2023-09-30', '2023-09-30'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [8]:
stocks.index + pd.tseries.offsets.QuarterEnd()  # moving forward with each date to the end of the Quarter

DatetimeIndex(['1962-03-31', '1962-03-31', '1962-03-31', '1962-03-31',
               '1962-03-31', '1962-03-31', '1962-03-31', '1962-03-31',
               '1962-03-31', '1962-03-31',
               ...
               '2023-09-30', '2023-09-30', '2023-12-31', '2023-12-31',
               '2023-12-31', '2023-12-31', '2023-12-31', '2023-12-31',
               '2023-12-31', '2023-12-31'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [9]:
stocks.index - pd.tseries.offsets.QuarterEnd()  #going backwards to end of Previous Quarter

DatetimeIndex(['1961-12-31', '1961-12-31', '1961-12-31', '1961-12-31',
               '1961-12-31', '1961-12-31', '1961-12-31', '1961-12-31',
               '1961-12-31', '1961-12-31',
               ...
               '2023-06-30', '2023-06-30', '2023-09-30', '2023-09-30',
               '2023-09-30', '2023-09-30', '2023-09-30', '2023-09-30',
               '2023-09-30', '2023-09-30'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [13]:
stocks.index + pd.tseries.offsets.QuarterBegin()  #by default quarter start is given to 3 , so we need to startmonth = 1, to start the quater begin date from month 4

stocks.index + pd.tseries.offsets.QuarterBegin(startingMonth = 1)

DatetimeIndex(['1962-04-01', '1962-04-01', '1962-04-01', '1962-04-01',
               '1962-04-01', '1962-04-01', '1962-04-01', '1962-04-01',
               '1962-04-01', '1962-04-01',
               ...
               '2023-10-01', '2023-10-01', '2024-01-01', '2024-01-01',
               '2024-01-01', '2024-01-01', '2024-01-01', '2024-01-01',
               '2024-01-01', '2024-01-01'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [14]:
#going backwards to beginning to of the quarter
stocks.index -  pd.tseries.offsets.QuarterBegin(startingMonth = 1)

DatetimeIndex(['1962-01-01', '1962-01-01', '1962-01-01', '1962-01-01',
               '1962-01-01', '1962-01-01', '1962-01-01', '1962-01-01',
               '1962-01-01', '1962-01-01',
               ...
               '2023-07-01', '2023-07-01', '2023-10-01', '2023-10-01',
               '2023-10-01', '2023-10-01', '2023-10-01', '2023-10-01',
               '2023-10-01', '2023-10-01'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [15]:
#year end to going forward to each timestamp to end of that year
stocks.index + pd.tseries.offsets.YearEnd()

DatetimeIndex(['1962-12-31', '1962-12-31', '1962-12-31', '1962-12-31',
               '1962-12-31', '1962-12-31', '1962-12-31', '1962-12-31',
               '1962-12-31', '1962-12-31',
               ...
               '2023-12-31', '2023-12-31', '2023-12-31', '2023-12-31',
               '2023-12-31', '2023-12-31', '2023-12-31', '2023-12-31',
               '2023-12-31', '2023-12-31'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [16]:
# going foeward to untill we get to the beginning of the next year 
stocks.index + pd.tseries.offsets.YearBegin()

DatetimeIndex(['1963-01-01', '1963-01-01', '1963-01-01', '1963-01-01',
               '1963-01-01', '1963-01-01', '1963-01-01', '1963-01-01',
               '1963-01-01', '1963-01-01',
               ...
               '2024-01-01', '2024-01-01', '2024-01-01', '2024-01-01',
               '2024-01-01', '2024-01-01', '2024-01-01', '2024-01-01',
               '2024-01-01', '2024-01-01'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

## Timedeltas
- A **Timedelta** is a pandas object that represents a duration (an amount of time).
- Subtracting two **Timestamp** objects will yield a **Timedelta** object (this applies to subtracting a **Series** from another **Series**).
- The **Timedelta** constructor accepts parameters for time as well as string descriptions.

In [8]:
pd.Timestamp('2023-3-31') - pd.Timestamp('2023-3-20')

Timedelta('11 days 00:00:00')

In [11]:
pd.Timestamp('2023-3-31 12:30:48') - pd.Timestamp('2023-3-20 19:48:14')

Timedelta('10 days 16:42:34')

In [14]:
pd.Timestamp('2023-3-20') - pd.Timestamp('2023-3-31')

pd.Timestamp('2023-3-20 19:48:14') - pd.Timestamp('2023-3-31 12:30:48')   #we get a negative duration if thedate which is earlier comes first

Timedelta('-11 days +07:17:26')

In [18]:
pd.Timedelta(days = 3 , hours =2 ,minutes = 5)  #timedelta representing 3 days 3 hrs and 5 mins

Timedelta('3 days 02:05:00')

In [24]:
pd.Timedelta('5 hours')

pd.Timedelta('3 days 5 hours 30minutes')   #pandas can also parse this information and give timedelta

Timedelta('3 days 05:30:00')

In [38]:
pd.read_csv('ecommerce.csv')

ecommerce = pd.read_csv('ecommerce.csv', index_col='ID' , parse_dates=['order_date', 'delivery_date'], date_format='%m/%d/%y')  #telling pandas to treat date columns as Timestamp
ecommerce.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [42]:
#subtracting deliverydate series from order date to find the between the two
ecommerce['delivery_date'] - ecommerce['order_date'] 

#we get series of timedelta

ID
1      257 days
2     2144 days
4      563 days
5     1948 days
7     1742 days
         ...
990   1684 days
991   2394 days
993   2719 days
994     10 days
997    637 days
Length: 501, dtype: timedelta64[ns]

In [45]:
#now to add the series to our dataframe
ecommerce['Delivery time'] = ecommerce['delivery_date'] - ecommerce['order_date']
ecommerce

    order_date delivery_date Delivery time
ID
1   1998-05-24    1999-02-05      257 days
2   1992-04-22    1998-03-06     2144 days
4   1991-02-10    1992-08-26      563 days
5   1992-07-21    1997-11-20     1948 days
7   1993-09-02    1998-06-10     1742 days
..         ...           ...           ...
990 1991-06-24    1996-02-02     1684 days
991 1991-09-09    1998-03-30     2394 days
993 1990-11-16    1998-04-27     2719 days
994 1993-06-03    1993-06-13       10 days
997 1990-01-04    1991-10-03      637 days

[501 rows x 3 columns]

In [54]:
ecommerce['If it took twice as long'] = ecommerce['delivery_date']  + ecommerce['Delivery time']   #addind on time duration 
ecommerce.head()

   order_date delivery_date Delivery time If it took twice as long
ID
1  1998-05-24    1999-02-05      257 days               1999-10-20
2  1992-04-22    1998-03-06     2144 days               2004-01-18
4  1991-02-10    1992-08-26      563 days               1994-03-12
5  1992-07-21    1997-11-20     1948 days               2003-03-22
7  1993-09-02    1998-06-10     1742 days               2003-03-18

In [56]:
ecommerce['Delivery time'].max()
ecommerce['Delivery time'].min()

Timedelta('8 days 00:00:00')

In [58]:
#average delivery time
ecommerce['Delivery time'].mean()

Timedelta('1217 days 22:53:53.532934128')